#div1{
    height: 20px;
    width: 10px;
    border: 5px solid black;
    padding: 10px;
    background-color: green;
    margin: 5px;

}
#div2{
    height: 20px;
    width: 10px;
    border: 5px solid black;
    padding: 10px;
    background-color: purple;
    margin: 5px;

}
#div3{
    height: 20px;
    width: 10px;
    border: 5px solid black;
    padding: 10px;
    background-color:red;
    margin: 5px;
    

}
.container{
    display:flex;
    /*flex direction:row-reverse;*/
    justify-content:end;
    align-items:center;
    
    
}
#div1:hover{
    background-color: red;
    box-shadow: 0px 0px 20px red;
}