.card{
    height:300px;
    width: 450px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    background-color:lightblue;
    box-shadow: 0px 0px 50px ;


}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    background: yellow;
}
