body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    padding: 20px;
}
.title{
    text-align: center;
    margin-bottom: 10px;
    
}
.time table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}
.time table th ,.time table td{
    border: 1px solid black;
    padding: 12px ;
    text-align: center;
    background: brown;

}
.timetable td{
    border: 1px solid black;
    padding: 12px ;
    text-align: center;


}
.timetable th{
    background-color:black;
    color: white;
    background: brown;

}
.break{
    background: yellow;
    font-weight: 900;
}
.lunchbreak{
    background:black;
}

